{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Bienvenido Nene
{% endblock %}

{% block content%}
{% if user_ip%}
<h1>Hello word,lk your IP es {{user_ip}}</h1>
{% else %}
<a href="{{ url_for('index') }}">Ir a inicio</a>
{% endif%}

<div class="container">
    <form action="{{ url_for('hello') }}" method="post">
        <!-- {{ login_form.username }}
        {{ login_form.username.label }} -->

        {{
            wtf.quick_form(login_form)
        }}
    </form>
</div>


<ul>
    {% for item in all %}
    {{ macros.render_item(item) }}
    {% endfor %}
</ul>
{% endblock %}