{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Bienvenido Nene
{% endblock %}

{% block content%}
{% if username %}
<div class="container">
    <h3>Bienvenido {{ username | capitalize}}</h3>
</div>
{% endif %}


{% if user_ip%}
<h1>Hello word,lk your IP es {{user_ip}}</h1>
{% else %}
<a href="{{ url_for('index') }}">Ir a inicio</a>
{% endif%}

<ul>
    {% for item in all %}
    {{ macros.render_item(item) }}
    {% endfor %}
</ul>
{% endblock %}